<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
    <title>غرفة تجارة وصناعة محافظة غزة</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

    <div class="bodyPageO">
        <div class="flexPage container">
            <div class="rightSideP ">
                <div>
                    <div class="logoP">
                        <img src="images/logo.png" alt="">
                    </div>
                    <h1>عفواً هناك صيانة على الموقع</h1>
                    <div class="btnsE">
                        <a href="index.html" class="btnE">العودة للخلف</a>
                        <a href="index.html" class="btnE btnH">الصفحة الرئيسية</a>
                    </div>
                </div>

            </div>
            <div class="lineFlexPage"></div>
            <div class="leftSideP ">
                <img class="imgerror" src="images/error500Img.png" alt="">
            </div>
        </div>
    </div>


</body>
</html>